html,
body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

/* Slider */
.slider,
#c-carousel,
.carousel-inner,
.carousel-item {
  height: 100%;
}

.slider-item {
  height: 100%;
  width: 100%;
  background: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-content {
  position: relative;
  z-index: 3;
}

.bg-thumb {
  position: absolute;
  width: 100%;
  height: 100%;
}

.bg-thumb > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bg-thumb::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(29, 29, 29, 0.7);
  z-index: 2;
}

/* End Slider */

/* ============================================================= */

/* Navbar */
.c-navbar-toggler {
  background: #0088cc;
}

.navbar-collapse {
  position: relative;
}

.c-navbar {
  margin-top: 12px;
  height: 70px;
  transition: margin 300ms;
}

.nav-item {
  margin-right: 7px;
}

.c-link {
  font-size: 75%;
}

.c-link:hover,
.c-active {
  color: #0088cc !important;
}
/* End Navbar */

/* ============================================================= */

/* Services */
.services {
  background: #0088cc;
  height: auto;
}

.feature-box-wrapper {
  display: flex;
  /* height:500px; */
  position: absolute;
}

.feature-box {
  display: block;
  min-height: 120px;
  /* display: flex; */
  /* opacity: 0; */
}

.feature-content {
  font-size: 90%;
}
/* End Services */

/* ============================================================= */

/* Projects */
.project-title-wrapper {
  min-height: 196px;
  max-height: 250px;
  height: auto;
}

.projects {
  background: #ffffff;
}

.project-wrapper {
  opacity: 0;
  position: relative;
  overflow: hidden;
}

.project-thumb > img {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.project-thumb::after {
  content: "";
  position: absolute;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgba(33, 37, 41, 0.301);
  opacity: 0;
}

.project-wrapper:hover .project-thumb::after {
  opacity: 1;
}

.project-wrapper:hover .project-thumb > img {
  transform: scale(1.15);
}

.project-wrapper:hover .project-action {
  top: 0px;
  right: 0px;
}

.project-title {
  position: absolute;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background: rgba(33, 37, 41, 0.8);
  color: #fff;
  font-weight: 600;
  left: 0;
  letter-spacing: -0.05em;
  position: absolute;
  z-index: 2;
  /* width:%; */
  font-size: 14px;
  padding: 13px 21px 23px 13px;
  top: 70%;
}

.project-category {
  position: absolute;
  background-color: #0088cc;
  border-radius: 2px;
  font-size: 0.6em;
  font-weight: 600;
  letter-spacing: 0;
  /* margin: 8px -2px -15px 0px; */
  padding: 2px 12px;
  text-transform: uppercase;
  z-index: 2;
  top: 77%;
  left: 0%;
  margin-left: 15px;
  line-height: 2.3;
}

.project-action {
  position: absolute;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background: rgba(33, 37, 41, 0.8);
  width: 50px;
  height: 50px;
  border-radius: 0px 0px 0px 3px;
  /* background */
  top: -100px;
  right: -100px;
}

.project-action::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background: rgb(33, 37, 41);
  z-index: 2;
  border-radius: 0px 0px 0px 3px;
  /* z-index:2; */
  opacity: 0;
}

.project-action:hover::after {
  opacity: 1;
  /* z-index: 2; */
}

.project-action > i {
  font-size: 14px;
  right: 50%;
  position: absolute;
  top: 50%;
  color: #fff;
  z-index: 3;
  -webkit-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
  margin: -2px -1px 0 0px;
}
/* End Projects */

/* ============================================================= */

/* Owl custom ui */
.owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #0088cc !important;
}
/* End Owl custom ui */

/* ============================================================= */

/* Clients */
.clients {
  position: relative;
  background-image: url("./../img/bg-one-page-1-1.jpg");
  background-size: cover;
  background-position: center;
  height: auto;
}

.clients::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background: #212529d5;
}

.clients > section {
  position: relative;
  z-index: 2;
}

.clients-quote > blockquote {
  /* font-family: Playfair Display', serif" */
  position: relative;
  /* background:red; */
}

.clients-quote > blockquote::before {
  color: #0099e6;
  display: block !important;
  left: 10px;
  top: 0;
  content: "“";
  font-size: 80px;
  font-style: normal;
  line-height: 1;
  position: absolute;
}

.clients-quote > blockquote::after {
  color: #0099e6;
  display: block !important;
  right: 10px;
  font-size: 80px;
  font-style: normal;
  line-height: 1;
  position: absolute;
  bottom: -0.5em;
  content: "”";
}

.author > p > strong {
  font-size: 14px;
}
/* End clients */

/* ============================================================= */

/* Members - Team meet */
.members-title-wrapper {
  height: 92px;
}

.c-card-border-less {
  border: none;
}

.profile-thumb > img {
  width: 100%;
  height: auto;
}

.circle-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0088cc;
}
/* End Members - Team meet */

/* ============================================================= */

/* Contact */

.c-form-group {
  width: 100%;
  height: auto;
  font-size: 0.85rem;
  /* background:red; */
}

.c-form-group > input[type="text"] {
  padding: 0.7rem 1rem;
  height: 34px;
  border: 0px;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 10px;
}

.c-form-group > textarea {
  padding: 0.7rem 1rem;
  border: 0px;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 10px;
}

.c-form-group > input:focus,
.c-form-group > textarea:focus {
  outline: 0px;
}

.c-btn {
  background: #0088cc;
  border-radius: 35px;
  padding: 12px 48px;
}

.contact-info {
  background: #0088cc;
}

.contact-elm {
  display: flex;
}

.c-footer {
  display: flex;
  height: 90px;
  justify-content: center;
  align-items: center;
}

/* End Contact */

/* ============================================================= */

/* Helpers */

.title {
  height: 100%;
  width: 100%;
  position: absolute;
}

.service-title-wrapper {
  min-height: 96px;
}

.light-bg {
  background: rgb(223, 223, 223);
}

.black-bg {
  background: #212529;
}

.mb-10 {
  margin-bottom: 6rem !important;
}

.line-height-5 {
  line-height: 1.5 !important;
}

.text-5 {
  font-size: 1.4em !important;
}

.text-3 {
  font-size: 0.9em !important;
}

.text-1 {
  font-size: 0.7em !important;
}

.text-2 {
  font-size: 0.9em !important;
}

.text-4 {
  font-size: 1.2em !important;
}

.letter-space--2 {
  letter-spacing: -2px;
}

.opacity-8 {
  opacity: 0.8;
  /* font-weight:  !important; */
}

.title > small {
  font-size: 90%;
}

.pt-10 {
  padding-top: 6rem !important;
}

.pt-8 {
  padding-top: 4rem !important;
}

.pb-8 {
  padding-bottom: 4rem !important;
}

.p-9 {
  padding: 5rem !important;
}

.pb-10 {
  padding-bottom: 6rem !important;
}

.pt-11 {
  padding-top: 7rem !important;
}

.pb-11 {
  padding-bottom: 7rem !important;
}

.text-grey {
  color: #777;
}

.c-text-light {
  letter-spacing: -0.5px;
  opacity: 0.75;
}

.hiding {
  display: none;
}

.slide-right {
  -webkit-animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/* End helpers */

/* ============================================================= */

/* Mobile */
@media only screen and (max-width: 745px) {
  .project-title-wrapper {
    height: 250px;
  }
}

@media only screen and (max-width: 990px) {
  .mobile-navbar {
    margin-top: 20px;
    background: #212529;
    border-radius: 3px;
  }
  /*
  .navbar-collapse::after {
    content: "";
    position: absolute;
    z-index:0;
    width:150%;
    height:100%;
    left:-50%;
    background:#212529;
  } */

  .c-link:hover,
  .c-active {
    color: #ffffff !important;
    background: #0088cc;
  }

  .nav-item {
    margin-right: 0px;
  }
}
/* End Mobile */

/* Effect class */
.bottom-to-top {
  opacity: 0;
}

.bottom-to-top.active {
  animation: bottom-to-top 1s ease;
}

.right-to-left {
  opacity: 0;
}

.right-to-left.active {
  animation: right-to-left 1.3s ease;
}

.left-to-right {
  opacity: 0;
}

.left-to-right.active {
  animation: left-to-right 1.3s ease;
}

@keyframes right-to-left {
  0% {
    opacity: 0;
    /* margin-left: 10px; */
    left: 50px;
  }
  100% {
    opacity: 1;
    left: 0px;
  }
}

@keyframes left-to-right {
  0% {
    opacity: 0;
    right: 50px;
  }
  100% {
    opacity: 1;
    right: 0px;
  }
}

@keyframes bottom-to-top {
  0% {
    opacity: 0;
    top: 50px;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}

.test-x {
  visibility: inherit;
  transition: none 0s ease 0s;
  text-align: inherit;
  line-height: 41px;
  border-width: 0px;
  margin: 0px;
  padding: 0px;
  letter-spacing: -1px;
  font-weight: 900;
  font-size: 38px;
  white-space: nowrap;
  min-height: 0px;
  min-width: 0px;
  max-height: none;
  max-width: none;
  filter: blur(0px);
  opacity: 0.0001;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transform-origin: 50% 50% 0px;
}

/* End effect class */
