.slider-item {
  height: 600px;
  width: 100%;
  background: #750c0c;
  display: flex;
  align-items: center;
  justify-content: center;
}

.black-bg {
  background: #212529;
  /* border:5px solid #212529; */
}

.c-navbar {
  height: 70px;
}

.nav-item {
  margin-right: 7px;
}

.c-link{
  font-size: 75%;
}

.c-link:hover,
.c-active {
  color: #0088CC !important;
}

.feature-box {
  display: flex;
}

.services {
  background: #0088CC;
  height: 600px;
}

.opacity-8 {
  opacity: 0.8;
  /* font-weight:  !important; */
}

.title > small {
  font-size: 90%;
}

.feature-content {
  font-size: 90%;
}

.pt-10 {
  padding-top: 6rem!important;
}

.projects{
  background: #ffffff;;
}

.text-grey{
  color: #777;
}

.owl-dot.active span,
 .owl-theme .owl-dots .owl-dot:hover span {
   background : #0088CC !important;
 }
